---
import CallToAction from './CallToAction.astro';
import SendIcon from './icons/SendIcon.astro';
---

<aside>
	<p class="text-lg mb-4 text-pretty opacity-75 text-blue-200/90">¿Interesado en trabajar juntos?</p>
	<CallToAction href="mailto:me@example.com">
		Send Me a Message
		<SendIcon icon="paper-plane-tilt" size="1.2em" />
	</CallToAction>
</aside>

<style>
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		background-color: var(--white-999_40);
		box-shadow: var(--shadow-sm);
	}

	p {
		text-align: center;
	}

	@media (min-width: 50em) {
		aside {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

	
	}
</style>
